.icon {
        display: block;
}
.icon--phone {
        width: remy(16);
        height: remy(16);
        fill: #607CE6;
}
.icon--logo {
        width: remy(180);
        height: remy(38);
        fill: #607CE6;
}
.icon--arrow {
        margin-top: remy(3);
        width: remy(6);
        height: remy(11);
        fill: #607CE6;
}
.icon--g5 {
        width: remy(1153);
        height: remy(680);
        fill: #D9D9D9;
}
.icon--logo-footer {
        width: remy(180);
        height: remy(38);
        fill: rgb(255, 255, 255);
}