mixin about
        section.about.section-offset
                .container
                        h2.about__title.section__title О предприятии
                        .about__text.grid 
                                p.about__descr За 20 лет развития в структуре завода сформирован мощный производственный потенциал, научно-технический центр, испытательная лаборатория, современная база, учебный центр и широкая сеть региональных и международных представительств в Российской Федерации, Республике Беларусь, Узбекистане и Казахстане.
                                p.about__descr В номенклатуре выпускаемой НПП «ПИОНЕР» продукции найдется все, что необходимо для успешного решения задачи автоматизации технологических процессов на любом предприятии. Все средства измерения производства «ПИОНЕР» внесены в Государственный реестр СИ и имеют необходимые разрешительные документы.
                                p.about__descr Ежегодно НПП «ПИОНЕР» реализует несколько проектов по модернизации серийных и разработке новых приборов, призванные в наибольшей степени удовлетворять возрастающие требования наших заказчиков.
                        .about__images.grid
                                .about__img
                                        +picture('about1', '580', '280')
                                .about__img
                                        +picture('about2', '580', '280')