mixin hero
        section.hero.section-offset
                .container
                        .hero__top.grid
                                h1.hero__title Российский завод силовых машин
                                p.hero__descr научно-производственное предприятие, занимающееся разработкой и производством силовых машин.
                        .hero__bottom
                                +picture('hero', '1180', '440')