mixin products
        section.products.section-offset
                .container
                        h2.section__title Продукция
                        ul.products__list.grid
                                li.products__item
                                        .products-card
                                                +picture('product1', '200')
                                                h3.products-card__title Сигнализатор уровня
                                                a(href="#!").products-card__link Подробнее
                                                                +svg('arrow')
                                li.products__item
                                        .products-card
                                                .products-card__img
                                                        +picture('product2', '200')
                                                h3.products-card__title Датчики давления
                                                a(href="#!").products-card__link Подробнее
                                                                +svg('arrow')
                                li.products__item
                                        .products-card
                                                +picture('product3', '200')
                                                h3.products-card__title ПИД-регуляторы
                                                a(href="#!").products-card__link Подробнее
                                                        +svg('arrow')
                                li.products__item
                                        .products-card
                                                +picture('product4', '200')
                                                h3.products-card__title Калибратор давления
                                                a(href="#!").products-card__link Подробнее
                                                                +svg('arrow')
                                li.products__item
                                        .products-card
                                                +picture('product5', '200')
                                                h3.products-card__title Корректор расхода газа
                                                a(href="#!").products-card__link Подробнее
                                                                +svg('arrow')
                                li.products__item
                                        .products-card
                                                +picture('product6', '200')
                                                h3.products-card__title Манометры
                                                a(href="#!").products-card__link Подробнее
                                                                +svg('arrow') 