mixin footer
        footer.footer
                .container.grid 
                        .footer__col
                                a(href="#!").logo-footer 
                                        +svg('logo-footer')
                        .footer__col.footer__col--flex
                                nav.nav
                                        ul.nav__list.nav__list--footer
                                                li.nav__item.nav__item--footer
                                                        a(href="#!").nav__link Главная
                                                li.nav__item.nav__item--footer
                                                        a(href="#!").nav__link О предприятии 
                                                li.nav__item.nav__item--footer
                                                        a(href="#!").nav__link Новости 
                                                li.nav__item.nav__item--footer
                                                        a(href="#!").nav__link Продукция 
                                                li.nav__item.nav__item--footer
                                                        a(href="#!").nav__link Услуги  
                                                li.nav__item.nav__item--footer
                                                        a(href="#!").nav__link Поддержка 
                                                li.nav__item.nav__item--footer
                                                        a(href="#!").nav__link География поставок
                                                li.nav__item.nav__item--footer
                                                        a(href="#!").nav__link Контакты
                                ul.footer__list
                                        li.footer__item
                                                a(href="#!").footer__link Файлы
                                        li.footer__item
                                                a(href="#!").footer__link Поддержка
                                        li.footer__item
                                                a(href="#!").footer__link Политика конфедициальности
                        .footer__col
                                span.footer__copyright 1994 — 2020 ООО «ПИОНЕР»