mixin header
        header.header
                .container
                        .header__top
                                a(href="#!").header__logo
                                        +svg('logo')
                                .header__contacts
                                        .header__contact
                                                span.header__caption По вопросам и предложениям
                                                a.header__link(href="mailto:pionerrr@sila.ru") pionerrr@sila.ru
                                        .header__contact
                                                span.header__caption Для консультаций
                                                a.header__link(href="tel:+74954562421") +7 (495) 456-24-21
                        .header__bottom
                                nav.nav
                                        ul.nav__list
                                                li.nav__item
                                                        a(href="#").nav__link Главная 
                                                li.nav__item
                                                        a(href="#").nav__link О предприятии
                                                li.nav__item
                                                        a(href="#").nav__link Новости
                                                li.nav__item
                                                        a(href="#").nav__link Продукция
                                                li.nav__item
                                                        a(href="#").nav__link Услуги
                                                li.nav__item
                                                        a(href="#").nav__link Поддержка
                                                li.nav__item
                                                        a(href="#").nav__link География поставок
                                                li.nav__item
                                                        a(href="#").nav__link  Контакты
                                button.header__btn 
                                        +svg('phone')
                                        p Пеpезвоните мне
 
                                        
                                        
